.item {
  display: flex;
  align-items: center;
  font-family: $font-1;
  font-weight: 500;
  font-size: 1.29rem;
  color: $black;
  position: relative;

  span {
    margin-left: 2.71rem;
    max-width: 87%;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 0.29rem;
    width: 1.21rem;
    height: 1rem;
    color: $white;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
  }

  input {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1;
    appearance: none;
    height: 1.71rem;
    width: 1.71rem;
    margin-right: 0.5rem;
    border: 1px solid $grey-2;
    border-radius: $borderRadius-2;
    -webkit-border-radius: $borderRadius-2;
    -moz-border-radius: $borderRadius-2;
    -ms-border-radius: $borderRadius-2;
    -o-border-radius: $borderRadius-2;
    flex-shrink: 0;

    &.checked {
      background-color: $blue;
      border-color: $blue;

      & + span {
        text-decoration: line-through;
      }
    }
  }
}
